<launch>
        <param name="robot_description" command="cat $(find sn1)/urdf/model.xml" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="move_human" pkg="sn1" type="move_human" />
	<node name="rviz" pkg="rviz" type="rviz" />
</launch>
